header {
  position: absolute;
  top: 1%;
  left: 1%;
  height: 33%;
  width: 98%;
}

img {
  height: 70%;
  width: 100%;
}

body {
  background: #CEF6EC;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden
}

.onglets {
  columns: 3;
  column-width: 30%;
  column-rule-style: solid;
  column-rule-width: 30%;
  column-rule-color: black;
  margin: auto;
  padding: 2px;
  border: 2px solid black;
  width: 99%;
  font-size: 15px;
  background-color: #5ccaa6;
}

.onglets p {
  margin: 0 auto;
  margin-bottom: auto;
  color: #000000;
}

hr {
  margin: auto;
  width: 50%;
  height: 2px;
  background-color: #000000;
  border: none;
}

.col1 {
  float: left;
  width: 20%;
  margin-top: 40%;
}

.col2 {
  float: left;
  margin-left: 10%;
  width: 30%;
  margin-top: 40%;
}

.col3 {
  float: left;
  margin-left: 8%;
  width: 30%;
  margin-top: 40%;
}

.cl {
  position: absolute;
  top: 95%;
  left: 1%;
  height: 1%;
  width: 33%;
}

.cl2 {
  position: absolute;
  top: 95%;
  left: 88%;
  height: 1%;
  width: 10%;
}

.ctsm {
  background-color: #1AD1FF;
  border: 3px solid #000000;
  border-radius: 1800px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.4%;
  position: absolute;
  top: 35.5%;
  left: 34%;
  height: 10%;
  width: 29%
}

.ctsm1 {
  background-color: #1AD1FF;
  border: 3px solid #000000;
  border-radius: 25px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.01%;
  padding-bottom: 3.5%;
  position: absolute;
  top: 48%;
  left: 34%;
  height: 83%;
  width: 29%
}

.ctsg {
  border-radius: 25px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.01%;
  padding-bottom: 3.5%;
  position: absolute;
  top: 55%;
  left: 2%;
  height: 68%;
  width: 29%
}

.ctsm2 {
  background-color: #1AD1FF;
  border: 3px solid #000000;
  border-radius: 25px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.01%;
  padding-bottom: 3.5%;
  position: absolute;
  top: 48%;
  left: 68%;
  height: 85.5%;
  width: 29%
}

a {
  color: white;
}

a : hover {
  color: white;
}

a : visited {
  color: white;
}
