img {
  width: 100%;
}

body {
  font-family: Sans-serif;
  font-size: 100%;
  background: #CCCCCC;
}

a {
  color: #369;
}

p.mention {
  margin: 1em;
  color: #666666;
  clear: both;
  padding-top: 2em;
}

h2 {
  background: #5ccaa6;
  color: #FFFFFF;
  margin: 0;
  padding: 4px;
}

#menu ul, #menu li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu li {
  float: left;
  width: 20%;
  text-align: center;
}

#menu a {
  display: block;
  background: #444444;
  color: #FFFFFF;
  border-bottom: 1px;
  line-height: 200%;
  padding: 0 2em;
  text-decoration: none;
}

#menu a:hover {
  background: #222;
}

#col1, #col2, #col3 {
  float: left;
  background: #FFFFFF;
  min-height: 300px;
  overflow: auto;
  width: 100%;
  clear: both;
}

#menu {
  width: 100%;
  overflow: auto;
}

@media screen and (min-width: 1024px) {
  #col1 {
    width: 30%;
    clear: none;
  }

  #col2 {
    width: 30%;
    clear: none;
  }
  #col3 {
    width: 30%;
    clear: none;
  }
}

@media screen and (max-width: 640px) {
  #menu a {
    display: block;
  }

  #menu li {
    float: none;
    width: 100%;
  }

  #col1, #col2, #menu {
    clear: both;
    width: 100%;
  }
}

.bas {
  background-color: #000000;
}
