/* Barre de Scrolling (IE only) ---------------------- */
BODY{
scrollbar-face-color: #6F480F;
scrollbar-shadow-color: #000000;
scrollbar-highlight-color: #FFFFFF;
scrollbar-3dlight-color: #000000;
scrollbar-darkshadow-color: #000000;
scrollbar-track-color: #322412;
scrollbar-arrow-color: #DDA449
}

body,td {
	font-family:helvetica;
	font-size:12px;
}

/* Style Général ------------------------------------- */
.m10,.m9,.m10b,.m9b     {font-family:Helvetica}
.m10m,.m10mb,.m9m,.m9mb {font-family:ms sans serif}
.m8,.m8b                {font-family:Helvetica}
.m10,.m10b,.m10m,.m10mb {font-size:14px}
.m9,.m9b,.m9m,.m9mb     {font-size:13px}
.m8,.m8b                {font-size:12px}
.m10b,.m9b,.m8b         {font-weight:bold}
.menu8                  {font-family:Helvetica; font-size:12px;}
.menu9                  {font-family:ms sans serif; font-size:13px;}
.text8           {font-family:Helvetica; font-size:12px; text-decoration: none; color: #32230C;}

/* Links Généraux ------------------------------------ */
a:link                  {font-family:Helvetica; font-size:12px; text-decoration: none; color: #000000;}
a:visited               {font-family:Helvetica; font-size:12px; text-decoration: none; color: #000000;}
a:active                {font-family:Helvetica; font-size:12px; text-decoration: none; color: #800000;}
a:hover                 {font-family:Helvetica; font-size:12px; text-decoration: underline; color: #6F480F;}


/* Links Hebergement ------------------------------------ */
a.hebergement:link           {font-family:helvetica; font-size:12px; text-decoration: none; color: #C0C0C0;}
a.hebergement:visited        {font-family:helvetica; font-size:12px; text-decoration: none; color: #C0C0C0;}
a.hebergement:active         {font-family:helvetica; font-size:12px; text-decoration: none; color: #C0C0C0;}
a.hebergement:hover          {font-family:helvetica; font-size:12px; text-decoration: underline; color: #FFFFFF;}


/* Links Menu Haut  ---------------------------------- */
a.menu8:link           {font-family:Helvetica; font-size:12px; text-decoration: none; color: #32230C;}
a.menu8:visited        {font-family:Helvetica; font-size:12px; text-decoration: none; color: #32230C;}
a.menu8:active         {font-family:Helvetica; font-size:12px; text-decoration: none; color: #F9C067;}
a.menu8:hover          {font-family:Helvetica; font-size:12px; text-decoration: underline; color: #F9C067;}

.bordure { background-color:#FFCC66; }
.fond_menu { background-color:#A07000; }

.news_entete {
	background-color:#6F480F;
	color:#E1DFDF;
	font-weight: bold;
}

.suggest { color:#6F480F; }
.fond_fonce { background:#9F6000; }

.color_titre_menu {
	color:#F0AF10;
	font-weight: bold; 
	font-size:13px;
	background-color: #6F480F;
	font-face: Helvetica, Arial,sans-sherif;
}

.fond_news { background-color:#E0DFCF; }
.background { background-color:#322412; }

input{
	font-family:Helvetica,Arial;
	font-size:11px;
	border:1px solid;
}
textarea{
	font-family:Helvetica,Arial;
	font-size:11px;
	border:1px solid;
}

.titre1 {
	font-weight:bold;
	padding-left:10px;
	padding-bottom:5px;
	padding-top:5px;
}

.bq {
	padding-bottom:5px;
	padding-top:5px;
	padding-left:30px;
	padding-right: 5px;
}

.nline { 
	color:#ffffff; 
	font: 12px Helvetica,Arial,sans-serif;
	background-color:#A07000;
	text-align: right;
}

.tsrc-0  {
	font: 12px Helvetica,Arial,sans-serif; 
	background-color:#eeeeff;
}

.tsrc-1  { 
	font: 12px Helvetica,Arial,sans-serif;
	background-color:#E0DFCF;
}

/* Les fonds */
 .fondforum {
 	background-color:#e0dfcf;
	width: 96%;
	margin: auto;
	text-align: center;
	border: 1px solid black;
}

/* Les cadres*/
.bloc {
	width: 98%;
	margin: auto;
	text-align: center;
	clear: both;
}

.bloc60 {
	width: 60%;
	margin: auto;
	text-align: center;
	clear: both;
}

.bloc80 {
	width: 80%;
	margin: auto;
	text-align: center;
	clear: both;
}

.nomchamp16 {
	width: 16%;
	min-width: 75px;
	float: left;
}

.nomchamp50 {
	width: 50%;
	min-width: 200px;
	float: left;
	padding-left: 16%;
}

.champform {
	width: 90%;
	min-width: 180px;
}

.mettrededans {
	clear: both;
	margin: 0;
	padding: 0;
}

.cadretitre {
	text-align: left;
	margin: 0px;
	padding: 5px;
	border: 1px solid #A07000;
 	background-color:#f0d183;
}

.cadretitreforum {
	text-align: left;
	margin: 0px;
	padding: 5px;
	padding-left: 23px;
	border: 1px solid #A07000;
 	background-color:#f0d183;
	background-image: url('http://www.phpdebutant.org/system/images/themes/brown/spin2.png');
	background-repeat: no-repeat;
	background-position: 6px 6px;
}

.cadre {
	margin: 0 0 20 10;
	padding: 10px;
	border: 1px dashed #A07000;
	border-top: 0px solid black;
	background-color:#ffffff;
	text-align: left;
}

.cadreforum1 {
	width: 20%;
	float: left;
	margin: 0;
	padding: 0px;
	padding-right: 5px;
	background-color:#ffffff;
	text-align: left;
}

.cadreforum2 {
	border-left: 1px dashed #A07000;
	width: 75%;
	float: left;
	margin: 0;
	padding:10px;
	background-color:#ffffff;
	text-align: left;
}

.forumpara {
	margin: 0 0 3 0;
}

.forumparabold {
	margin: 0 0 3 0;
	font-weight: bold;
}
/* Les liens des cadres */

.cadretitre a {
	background-image: url('http://www.phpdebutant.org/system/images/themes/brown/spin1.png');
	background-repeat: no-repeat;
	background-position: 1px 1px;
	font-size:12px;
	text-decoration: none;
	color: #000000;
	padding-left: 18px;
}
.cadretitre a:hover {
	background-image: url('http://www.phpdebutant.org/system/images/themes/brown/spin2.png');
	background-repeat: no-repeat;
	background-position: 1px 1px;
	font-size:12px;
	text-decoration: underline;
	color: #6f480f;
	padding-left: 18px;
	padding-right: 2px;
}

.bold {
	font-weight: bold;
}

.lienforum {
	color: #000000;
	border-bottom: 1px dashed #000000;
	text-decoration: none;
}

.lienforum:hover {
	color: #A07000;
	border-bottom: 1px dashed #A07000;
	text-decoration: none;
}

.code {
	border: 1px solid #A07000;
	padding-left: 10px;
	background-color:#e0dfcf;
}

.quote {
	border: 1px dotted #A07000;
	padding-left: 10px;
	background-color:#eeeeee;
}
